{{>layout/header}}

<!--Nav bar-->
<section class="mt-5 mb-5">
    <div class="text-center">
        <h1 class="mb-5 ml-3 mr-3 font-weight-bold">취업을 위한 스터디를 찾는 방법</h1>
        <img src="https://holaworld.io/images/logo/main.png" width="45%" height="auto">
    </div>
</section>

<div class="shadow p-3 mb-5 bg-body rounded">
    <ul class="nav justify-content-center text-secondary" style="font-size:20px; line-height:20px;">
        <li class="nav-item text-secondary">
            <a class="nav-link active" href="#">전체</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">어학</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">취업</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">고시/공무원</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">취미/교양</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">프로그래밍</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">자율</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">기타</a>
        </li>
    </ul>
</div>

<div class="container mb-3">
    <div class="row justify-content-center">
        <div class="col-xs-3 pr-0">
            <select class="form-control form-control-sm" style="height:38px;">
                <option value="non-select">지역</option>
                <option value="all-region">전국</option>
                <option value="seoul">서울</option>
                <option value="incheon">인천</option>
                <option value="gyeonggi">경기</option>
                <option value="busan">부산</option>
                <option value="daejeon">대전</option>
                <option value="daegu">대구</option>
                <option value="ulsan">울산</option>
                <option value="gwangju">광주</option>
                <option value="etc">기타</option>
            </select>
        </div>
        <div class="col-xs-3 p-0">
            <input type="text" class="form-control" placeholder="스터디 검색">
        </div>
        <div class="ol-xs-3 pl-0">
            <button type="button" class="btn btn-outline-secondary">검색</button>
        </div>
    </div>
</div>

<div class="container-sm" style="margin-bottom:200px;">
    <div class="card">
        <div class="row">
            <div class="col ml-3 mt-2" style="width:40px">
                <span class="badge rounded-pill bg-primary text-white">모집중</span>
                <span class="badge rounded-pill bg-secondary text-white">고시/공무원</span>
                <span class="badge rounded-pill bg-secondary text-white">서울</span>
            </div>
        </div>

        <div class="card-body">
            <a href="#">영어 토익 모집합니다.</a>
        </div>
    </div>
    <div class="card">
        <div class="row">
            <div class="col ml-3 mt-2" style="width:40px">
                <span class="badge rounded-pill bg-primary text-white">모집중</span>
                <span class="badge rounded-pill bg-secondary text-white">고시/공무원</span>
                <span class="badge rounded-pill bg-secondary text-white">서울</span>
            </div>
        </div>

        <div class="card-body">
            <a href="#">영어 토익 모집합니다.</a>
        </div>
    </div>
    <div class="card">
        <div class="row">
            <div class="col ml-3 mt-2" style="width:40px">
                <span class="badge rounded-pill bg-primary text-white">모집중</span>
                <span class="badge rounded-pill bg-secondary text-white">고시/공무원</span>
                <span class="badge rounded-pill bg-secondary text-white">서울</span>
            </div>
        </div>

        <div class="card-body">
            <a href="#">영어 토익 모집합니다.</a>
        </div>
    </div>
</div>

{{>layout/footer}}
