{{>layout/header}}

<div class="container" style="margin-top:50px; margin-bottom:100px">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <h1 class="mb-3">게시글 등록</h1>
            <form>
                <div class="form-group">
                    <label for="title">제목</label>
                    <input type="text" class="form-control" id="title" placeholder="제목을 입력하세요">
                </div>
                <div class="form-group">
                    <label for="category">모집 분야</label>
                    <select name="category" class="form-control form-control-sm" style="height:38px;">
                        <option value="non-select">스터디 모집 분야 선택</option>
                        <option value="ncs">NCS</option>
                        <option value="language">어학</option>
                        <option value="job">취업</option>
                        <option value="exam">고시/공무원</option>
                        <option value="hobby">취미/교양</option>
                        <option value="programing">프로그래밍</option>
                        <option value="etc">기타</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="region">지역</label>
                    <select name="region"class="form-control form-control-sm" style="height:38px;">
                        <option value="non-select">지역선택</option>
                        <option value="all-region">전국</option>
                        <option value="seoul">서울</option>
                        <option value="incheon">인천</option>
                        <option value="gyeonggi">경기</option>
                        <option value="busan">부산</option>
                        <option value="daejeon">대전</option>
                        <option value="daegu">대구</option>
                        <option value="ulsan">울산</option>
                        <option value="gwangju">광주</option>
                        <option value="etc">기타</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="content">내용</label>
                    <textarea class="form-control" id="content" rows="15" placeholder="내용을 입력하세요"></textarea>
                </div>
            </form>
            <a href="/" role="button" class="btn btn-secondary ml-auto">취소</a>
            <button type="button" class="btn btn-primary" id="btn-save">등록</button>
        </div>
    </div>
</div>

{{>layout/footer}}
